<!-- Tell the browser to be responsive to screen width -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

<link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">	<!-- bootstrap,不可删 -->
<link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}"><!-- 顶部邮件图标,以及一些其他图标 -->
<link rel="stylesheet" th:href="@{/plugins/ionicons/css/ionicons.min.css}"><!-- 首页控制面板图标 -->
<link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"><!-- 单选样式及颜色 -->
<link rel="stylesheet" th:href="@{/plugins/datepicker/datepicker3.css}"><!-- 日期选取插件 -->
<link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}"><!-- 日期选取插件 -->
<link rel="stylesheet" th:href="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}"><!-- 所见即所得编辑器 -->
<link rel="stylesheet" th:href="@{/plugins/datatables/dataTables.bootstrap.css}"><!-- 数据表格插件 -->
<link rel="stylesheet" th:href="@{/plugins/treeTable/jquery.treetable.css}"><!-- 树形表格插件 -->
<link rel="stylesheet" th:href="@{/plugins/treeTable/jquery.treetable.theme.default.css}"><!-- 树形表格插件默认样式 -->
<link rel="stylesheet" th:href="@{/plugins/select2/select2.css}"><!-- 下拉框插件 -->
<link rel="stylesheet" th:href="@{/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css}"><!-- Markdown编辑器 -->
<link rel="stylesheet" th:href="@{/plugins/adminLTE/css/AdminLTE.css}"><!-- AdminLTE模板样式,不可删 -->
<link rel="stylesheet" th:href="@{/plugins/adminLTE/css/skins/_all-skins.min.css}"><!-- AdminLTE模板皮肤样式,不可删 -->
<link rel="stylesheet" th:href="@{/plugins/bootstrap-slider/slider.css}"><!-- 基于Bootstrap水平滑动插件 -->
<link rel="stylesheet" th:href="@{/css/style.css}"><!-- 不知道有啥用,看文件内吧 -->

</head>