#数据库连接信息
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/travel
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource


  #thymeleaf模板引擎
  thymeleaf:
    cache: false
    encoding: UTF-8


#mybatis配置
mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

