<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>城市列表</title>

    <!-- 网页图标-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <!-- BASE CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/userStyle.css}" rel="stylesheet">
    <link th:href="@{/css/vendors.css}" rel="stylesheet">
</head>

<body>

<div id="page">

    <!-- 导入顶部 -->
    <div th:replace="userPage/common/header::header"></div>
    <!-- /header -->

    <main>

        <section class="hero_in restaurants">
            <div class="wrapper">
                <div class="container">
                    <h1 class="fadeInUp"><span></span>城市列表</h1>
                </div>
            </div>
        </section>
        <!--/hero_in-->

        <div class="filters_listing sticky_horizontal">
            <div class="container">
                <ul class="clearfix">
                    <li>
                        <div class="switch-field">
                            <input type="radio" id="all" name="listing_filter" value="all" checked>
                            <label for="all">全部</label>
                            <input type="radio" id="popular" name="listing_filter" value="popular">
                            <label for="popular">热门城市</label>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /container -->
        </div>
        <!-- /filters -->

        <!--其他页面传过来的搜索内容-->
        <input id="searchCity" type="hidden" th:value="${search}">

        <!--搜索栏-->
        <div class="search_container">
            <div class="container">
                <form class="col-lg-12" action="/cityList" method="get">
                    <div class="row no-gutters custom-search-input-2 inner">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <input class="form-control" type="text" name="search" placeholder="搜索城市...">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <input type="submit" class="btn_search" value="搜索">
                        </div>
                    </div>
                    <!-- /row -->
                </form>
                <!-- /custom-search-input-2 -->
            </div>
        </div>
        <!-- /search_container -->

        <!--列表区-->
        <div class="container margin_60_35" >

            <div class="box_list" v-for="city in Citys">
                <div class="row no-gutters">
                    <div class="col-lg-5">
                        <figure>
                            <small>{{city.cityName}}</small>
                            <a :href="'selectCityById?id='+city.id">
                                <img :src="city.cityPhoto" class="img-fluid" width="800" height="533">
                                <div class="read_more"><span>更多</span></div>
                            </a>
                        </figure>
                    </div>
                    <div class="col-lg-7">
                        <div class="wrapper">
                            <a href="#0" class="wish_bt"></a><!-- 收藏按钮 -->
                            <h3><a :href="'selectCityById?id='+city.id">{{city.cityName}}</a></h3>
                            <p>{{city.cityIntroduce}}</p>
                        </div>
                        <ul>
                            <li><i class="ti-eye"></i>{{city.cityClickCount}}</li>
                            <li>
                                <div class="score"><span>人气推荐<em>350 个评价</em></span><strong>8.9</strong></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="offset-lg-4 col-lg-3">
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm">
                            <li :class="{ disabled: !pageInfo.hasPreviousPage }">
                                <a class="page-link" @click="jump('pre')">上一页</a>
                            </li>
                            <li :class="{ disabled:pageInfo.pageNum==i }"
                                v-for="i in pageInfo.navigatepageNums">
                                <a class="page-link" @click="jumpByNumber(i)">{{i}}</a>
                            </li>
                            <li :class="{ disabled: !pageInfo.hasNextPage }">
                                <a class="page-link" @click="jump('next')">下一页</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>



        </div>
        <!-- /container -->

    </main>
    <!--/main-->

    <!--导入底部-->
    <div th:replace="userPage/common/footer::footer"></div>
    <!--/footer-->

</div>
<!-- page -->

<!-- 登录表单 -->
<div th:replace="userPage/common/loginForm::loginForm"></div>
<!-- /Sign In Popup -->

<div id="toTop"></div><!-- 回到顶部按钮 -->

<!-- COMMON SCRIPTS -->
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/js/common_scripts.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/validate.js}"></script>
<script th:src="@{/js/vue.min.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
</body>
<script>
    new Vue({
        el:"#page",
        data:{
            Citys:[],
            pageInfo:{}
        },

        methods:{
            findAll:function (start) {
                var _this = this;
                var searchCity = $("#searchCity").val();
                axios.get('/searchCityByName',{// 统一用模糊查询
                    params: {
                        start: start,
                        search: searchCity
                    }
                })
                    .then(function (response) {
                        _this.Citys = response.data.list;
                        _this.pageInfo=response.data;
                        console.log(response);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            }
        },
        jump: function (page) {//跳转上一页,下一页
            if ('pre' == page && this.pageInfo.hasPreviousPage)
                this.findAll(this.pageInfo.prePage);

            else if ('next' == page && this.pageInfo.hasNextPage)
                this.findAll(this.pageInfo.nextPage);
        },
        jumpByNumber: function (start) {//跳转到指定页面
            if (start != this.pageInfo.pageNum)
                this.findAll(start);
        },
        created:function (){

            this.findAll(1);
        },
    });

</script>
</html>
