<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <title>首页</title>

    <!-- 网页图标-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <!-- BASE CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/userStyle.css}" rel="stylesheet">
    <link th:href="@{/css/vendors.css}" rel="stylesheet">

    <script th:src="@{/js/modernizr_slider.js}"></script>

</head>

<body>

<div id="page">

    <!-- 导入顶部 -->
    <div th:replace="userPage/common/header::header"></div>
    <!-- /header -->

    <main>

        <!--轮播图-->
        <section class="slider">
            <div id="slider" class="flexslider">
                <ul class="slides">

                    <li th:each="scity:${sixCity}">
                        <img th:src="${scity.cityPhoto}" alt="">
                        <div class="meta">
                            <h3 th:text="${scity.cityName}"></h3>
                            <div class="info">
                                <p><strong>14</strong> 景点 - <strong>75</strong> 游记</p>
                            </div>
                            <a th:href="'/selectCityById?id='+${scity.id}" class="btn_1">查看更多</a>
                        </div>
                    </li>

                    <!--<li>-->
                        <!--<img src="img/flex_slides/slide_2.jpg" alt="">-->
                        <!--<div class="meta">-->
                            <!--<h3>迪拜，最具吸引力的旅游目的地</h3>-->
                            <!--<div class="info">-->
                                <!--<p><strong>220</strong> 景点 - <strong>150</strong> 游记</p>-->
                            <!--</div>-->
                            <!--<a href="/cityDetail" class="btn_1">查看更多</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<img src="img/flex_slides/slide_3.jpg" alt="">-->
                        <!--<div class="meta">-->
                            <!--<h3>开罗，传统和文化</h3>-->
                            <!--<div class="info">-->
                                <!--<p><strong>220</strong> 景点 - <strong>150</strong> 游记</p>-->
                            <!--</div>-->
                            <!--<a href="/cityDetail" class="btn_1">查看更多</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<img src="img/flex_slides/slide_4.jpg" alt="">-->
                        <!--<div class="meta">-->
                            <!--<h3>拿索，独特的海滩和视野</h3>-->
                            <!--<div class="info">-->
                                <!--<p><strong>220</strong> 景点 - <strong>150</strong> 游记</p>-->
                            <!--</div>-->
                            <!--<a href="/cityDetail" class="btn_1">查看更多</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<img src="img/flex_slides/slide_5.jpg" alt="">-->
                        <!--<div class="meta">-->
                            <!--<h3>罗马，永恒之城</h3>-->
                            <!--<div class="info">-->
                                <!--<p><strong>220</strong> 景点 - <strong>150</strong> 游记</p>-->
                            <!--</div>-->
                            <!--<a href="/cityDetail" class="btn_1">查看更多</a>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
                <div id="icon_drag_mobile"></div>
            </div>
            <div id="carousel_slider_wp">
                <div id="carousel_slider" class="flexslider">
                    <ul class="slides">

                        <li th:each="scity:${sixCity}">
                            <img th:src="${scity.cityPhoto}" alt="">
                            <div class="caption">
                                <h3 th:text="${scity.cityName}"> <span>中国</span></h3>
                                <small th:text="'人气值:'+${scity.cityClickCount}"><strong id="weather" class="weather"></strong></small>
                            </div>
                        </li>

                        <!--<li>-->
                            <!--<img src="img/flex_slides/slide_2_thumb.jpg" alt="">-->
                            <!--<div class="caption">-->
                                <!--<h3>迪拜 <span>阿联酋</span></h3>-->
                                <!--<small>最低 ￥3999 / 人 <strong id="weather_2" class="weather"></strong></small>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<img src="img/flex_slides/slide_3_thumb.jpg" alt="">-->
                            <!--<div class="caption">-->
                                <!--<h3>开罗 <span>埃及</span></h3>-->
                                <!--<small>最低 ￥3999 / 人 <strong id="weather_3" class="weather"></strong></small>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<img src="img/flex_slides/slide_4_thumb.jpg" alt="">-->
                            <!--<div class="caption">-->
                                <!--<h3>拿索 <span>巴哈马群岛</span></h3>-->
                                <!--<small>最低 ￥3999 / 人 <strong id="weather_4" class="weather"></strong></small>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<img src="img/flex_slides/slide_5_thumb.jpg" alt="">-->
                            <!--<div class="caption">-->
                                <!--<h3>罗马 <span>意大利</span></h3>-->
                                <!--<small>最低 ￥3999 / 人 <strong id="weather_5" class="weather"></strong></small>-->
                            <!--</div>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </section>
        <!--/轮播图-->

        <!--搜索栏-->
        <div class="search_container">
            <div class="container">
                <form class="col-lg-12" action="/search" method="get">
                    <div class="row no-gutters custom-search-input-2 inner">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <input class="form-control" name="search" type="text" placeholder="搜目的地/攻略/旅行特价">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <select class="wide" name="searchType">
                                <option selected value="tour">跟团游</option>
                                <option value="city">城市</option>
                                <option value="view">景点</option>
                                <option value="travelLog">游记</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <input type="submit" class="btn_search" value="搜索">
                        </div>
                    </div>
                    <!-- /row -->
                </form>
                <!-- /custom-search-input-2 -->
            </div>
        </div>
        <!-- /搜索栏 -->

        <!--旅游线路列表-->
        <div class="container-fluid margin_60_0">

            <div class="main_title_2">
                <span><em></em></span>
                <h2>热门旅游线路</h2>
                <p>行程透明省心游</p>
            </div>

            <div id="reccomended" class="owl-carousel owl-theme">

                <div class="item" th:each="tour:${tours}">
                    <div class="box_grid">
                        <figure>
                            <a href="#" class="wish_bt"></a><!-- 收藏 -->
                            <a th:href="'selectTourById?id='+${tour.id}"><img th:src="${tour.tourPhoto}"
                                                                              class="img-fluid" alt="" width="800"
                                                                              height="533">
                                <div class="read_more"><span>查看更多</span></div>
                            </a>
                            <small th:text="${tour.cityName}"></small>
                        </figure>
                        <div class="wrapper">
                            <h3><a th:href="'selectTourById?id='+${tour.id}" th:text="${tour.tourName}"></a></h3>
                            <!--<p th:text="${tour.tourDesc}"></p>-->
                            <span class="price">最低 <strong th:text="'￥'+${tour.tourPrice}"></strong> / 人</span>
                        </div>
                        <ul>
                            <li th:text="'已售'+${tour.tourHead}"><i class="icon_clock_alt"></i> 34</li>
                            <li>
                                <div class="score"><span>人气推荐<em th:text="${tour.tourComment}+'个评论'"></em></span><strong th:text="${tour.tourScore}"></strong></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- /item -->
            </div>
            <!-- /carousel -->
            <div class="container">
                <p class="btn_home_align"><a href="/tourList" class="btn_1 rounded">查看更多旅游线路</a></p>
            </div>
            <!-- /container -->
            <hr class="large">
        </div>
        <!-- /container -->

        <!--城市景点列表-->
        <div class="container-fluid margin_30_95 pl-lg-5 pr-lg-5">
            <!--城市列表-->
            <section class="add_bottom_45">
                <div class="main_title_3">
                    <span><em></em></span>
                    <h2>热门城市</h2>
                    <p>你想要的城市这里都有</p>
                </div>
                <div class="row">

                    <div class="col-xl-3 col-lg-6 col-md-6" th:each="city:${cities}">
                        <a th:href="'selectCityById?id='+${city.id}" class="grid_item">
                            <figure>
                                <div class="score"><strong th:text="${city.cityClickCount}"></strong></div>
                                <img th:src="${city.cityPhoto}" class="img-fluid" alt="">
                                <div class="info">
                                    <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i
                                            class="icon_star"></i><i class="icon_star"></i></div>
                                    <h3 th:text="${city.cityName}"></h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <!-- /grid_item -->
                </div>
                <!-- /row -->
                <a href="/cityList"><strong>查看更多 <i class="arrow_carrot-right"></i></strong></a>
            </section>
            <!-- /section -->

            <!--景点列表-->
            <section>
                <div class="main_title_3">
                    <span><em></em></span>
                    <h2>热门景点</h2>
                    <p>你想要的景点这里也有</p>
                </div>
                <div class="row">

                    <div class="col-xl-3 col-lg-6 col-md-6" th:each="view:${views}">
                        <a th:href="'selectViewById?id='+${view.id}" class="grid_item">
                            <figure>
                                <div class="score"><strong th:text="${view.viewClickCount}"></strong></div>
                                <img th:src="${view.viewImage}"
                                     class="img-fluid" alt="">
                                <div class="info">
                                    <h3 th:text="${view.viewName}"></h3>
                                </div>
                            </figure>
                        </a>
                    </div>

                    <!-- /grid_item -->
                </div>
                <!-- /row -->
                <a href="/viewList"><strong>查看更多 <i class="arrow_carrot-right"></i></strong></a>
            </section>
            <!-- /section -->
        </div>
        <!-- /container -->

        <!--游记列表-->
        <div class="bg_color_1">
            <div class="container margin_80_55">
                <div class="main_title_2">
                    <span><em></em></span>
                    <h3>游记攻略</h3>
                    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                </div>
                <div class="row">

                    <div class="col-lg-6" th:each="travelLog:${travelLogs}">
                        <a class="box_news" th:href="'travelLog/selectTravellogById?id='+${travelLog.id}">
                            <figure><img th:src="${travelLog.tlPhoto}" alt="">
                            </figure>
                            <ul>
                                <li th:text="${travelLog.userInfo.userName}"></li>
                                <li th:text="${travelLog.tlReleaseDate}"></li>
                            </ul>
                            <h4 th:text="${travelLog.tlTitle}"></h4>
                            <p th:text="${travelLog.tlSummary}"></p>
                        </a>
                    </div>

                </div>
                <!-- /row -->
                <p class="btn_home_align"><a href="/travelLogList" class="btn_1 rounded">查看更多游记攻略</a></p>
            </div>
            <!-- /container -->
        </div>
        <!-- /bg_color_1 -->

        <div class="call_section">
            <div class="container clearfix">
                <div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
                    <div class="block-reveal">
                        <div class="block-vertical"></div>
                        <div class="box_1">
                            <h3>和我们一起享受美好的旅行吧</h3>
                            <p>Ius cu tamquam persequeris, eu veniam apeirian platonem qui, id aliquip voluptatibus pri.
                                Ei mea primis
                                ornatus disputationi. Menandri erroribus cu per, duo solet congue ut. </p>
                            <a href="#0" class="btn_1 rounded">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/call_section-->
    </main>
    <!-- /main -->

    <!--导入底部-->
    <div th:replace="userPage/common/footer::footer"></div>
    <!--/footer-->


</div>
<!-- page -->

<!-- 登录表单 -->
<div th:replace="userPage/common/loginForm::loginForm"></div>
<!-- /Sign In Popup -->

<div id="toTop"></div><!-- Back to top button -->

<!-- COMMON SCRIPTS -->
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/js/common_scripts.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/validate.js}"></script>

<!-- FlexSlider -->
<script defer th:src="@{/js/jquery.flexslider.js}"></script>
<script>
    $(window).load(function () {
        'use strict';
        $('#carousel_slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 280,
            itemMargin: 25,
            asNavFor: '#slider'
        });
        $('#carousel_slider ul.slides li').on('mouseover', function () {
            $(this).trigger('click');
        });
        $('#slider').flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel_slider",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });

    });

</script>
<script defer th:src="@{/js/weather_home.js}"></script>

</body>

</html>
