<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <title>首页</title>

    <!-- 网页图标-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <!-- BASE CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/userStyle.css}" rel="stylesheet">
    <link th:href="@{/css/vendors.css}" rel="stylesheet">

    <script th:src="@{/js/modernizr_slider.js}"></script>

</head>

<body>

<div id="page">

    <!-- 导入顶部 -->
    <div th:replace="userPage/common/header::header"></div>
    <!-- /header -->

    <main>

        <!--开屏页-->
        <section class="slider">
            <div id="slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="img/flex_slides/slide_1.jpg" alt="">
                        <div class="meta">
                            <h3>曼谷，一个永远不会一成不变的城市</h3>
                            <div class="info">
                                <p><strong>22</strong> 景点 - <strong>150</strong> 游记</p>
                            </div>
                            <a href="/cityDetail" class="btn_1">查看更多</a>
                        </div>
                    </li>
                    <li>
                        <img src="img/flex_slides/slide_2.jpg" alt="">
                        <div class="meta">
                            <h3>迪拜，最具吸引力的旅游目的地</h3>
                            <div class="info">
                                <p><strong>220</strong> 景点 - <strong>150</strong> 游记</p>
                            </div>
                            <a href="/cityDetail" class="btn_1">查看更多</a>
                        </div>
                    </li>
                    <li>
                        <img src="img/flex_slides/slide_3.jpg" alt="">
                        <div class="meta">
                            <h3>开罗，传统和文化</h3>
                            <div class="info">
                                <p><strong>220</strong> 景点 - <strong>150</strong> 游记</p>
                            </div>
                            <a href="/cityDetail" class="btn_1">查看更多</a>
                        </div>
                    </li>
                    <li>
                        <img src="img/flex_slides/slide_4.jpg" alt="">
                        <div class="meta">
                            <h3>拿索，独特的海滩和视野</h3>
                            <div class="info">
                                <p><strong>220</strong> 景点 - <strong>150</strong> 游记</p>
                            </div>
                            <a href="/cityDetail" class="btn_1">查看更多</a>
                        </div>
                    </li>
                    <li>
                        <img src="img/flex_slides/slide_5.jpg" alt="">
                        <div class="meta">
                            <h3>罗马，永恒之城</h3>
                            <div class="info">
                                <p><strong>220</strong> 景点 - <strong>150</strong> 游记</p>
                            </div>
                            <a href="/cityDetail" class="btn_1">查看更多</a>
                        </div>
                    </li>
                </ul>
                <div id="icon_drag_mobile"></div>
            </div>
            <div id="carousel_slider_wp">
                <div id="carousel_slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="img/flex_slides/slide_1_thumb.jpg" alt="">
                            <div class="caption">
                                <h3>曼谷 <span>泰国</span></h3>
                                <small>最低 ￥3999 / 人 <strong id="weather" class="weather"></strong></small>
                            </div>
                        </li>
                        <li>
                            <img src="img/flex_slides/slide_2_thumb.jpg" alt="">
                            <div class="caption">
                                <h3>迪拜 <span>阿联酋</span></h3>
                                <small>最低 ￥3999 / 人 <strong id="weather_2" class="weather"></strong></small>
                            </div>
                        </li>
                        <li>
                            <img src="img/flex_slides/slide_3_thumb.jpg" alt="">
                            <div class="caption">
                                <h3>开罗 <span>埃及</span></h3>
                                <small>最低 ￥3999 / 人 <strong id="weather_3" class="weather"></strong></small>
                            </div>
                        </li>
                        <li>
                            <img src="img/flex_slides/slide_4_thumb.jpg" alt="">
                            <div class="caption">
                                <h3>拿索 <span>巴哈马群岛</span></h3>
                                <small>最低 ￥3999 / 人 <strong id="weather_4" class="weather"></strong></small>
                            </div>
                        </li>
                        <li>
                            <img src="img/flex_slides/slide_5_thumb.jpg" alt="">
                            <div class="caption">
                                <h3>罗马 <span>意大利</span></h3>
                                <small>最低 ￥3999 / 人 <strong id="weather_5" class="weather"></strong></small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!--搜索栏-->
        <div class="search_container">
            <div class="container">
                <div class="col-lg-12">
                    <div class="row no-gutters custom-search-input-2 inner">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="搜目的地/攻略/旅行特价">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <select class="wide">
                                <option>全部</option>
                                <option>跟团游</option>
                                <option>城市</option>
                                <option>景点</option>
                                <option>游记</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <input type="submit" class="btn_search" value="搜索">
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /custom-search-input-2 -->
            </div>
        </div>
        <!-- /search_container -->

        <!--旅游线路列表-->
        <div class="container-fluid margin_60_0">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>热门旅游线路</h2>
                <p>行程透明省心游</p>
            </div>
            <div id="reccomended" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="box_grid">
                        <figure>
                            <a href="#" class="wish_bt"></a>
                            <a href="/tourDetail"><img src="img/tour_1.jpg" class="img-fluid" alt="" width="800"
                                                       height="533">
                                <div class="read_more"><span>查看更多</span></div>
                            </a>
                            <small>历史</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="/tourDetail">凯旋门</a></h3>
                            <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
                            <span class="price">最低 <strong>￥5499</strong> / 人</span>
                        </div>
                        <ul>
                            <li><i class="icon_clock_alt"></i> 已售34</li>
                            <li>
                                <div class="score"><span>人气推荐<em>350 个评论</em></span><strong>8.9</strong></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /item -->
                <div class="item">
                    <div class="box_grid">
                        <figure>
                            <a href="#" class="wish_bt"></a>
                            <a href="/tourDetail"><img src="img/tour_2.jpg" class="img-fluid" alt="" width="800"
                                                       height="533">
                                <div class="read_more"><span>查看更多</span></div>
                            </a>
                            <small>教堂</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="/tourDetail">Notredam</a></h3>
                            <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
                            <span class="price">最低 <strong>￥124</strong> / 人</span>
                        </div>
                        <ul>
                            <li><i class="icon_clock_alt"></i> 1h 30min</li>
                            <li>
                                <div class="score"><span>Good<em>350 Reviews</em></span><strong>7.0</strong></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /item -->
                <div class="item">
                    <div class="box_grid">
                        <figure>
                            <a href="#" class="wish_bt"></a>
                            <a href="/tourDetail"><img src="img/tour_3.jpg" class="img-fluid" alt="" width="800"
                                                       height="533">
                                <div class="read_more"><span>查看更多</span></div>
                            </a>
                            <small>历史</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="/tourDetail">凡尔赛</a></h3>
                            <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
                            <span class="price">最低 <strong>￥25</strong> / 人</span>
                        </div>
                        <ul>
                            <li><i class="icon_clock_alt"></i> 1h 30min</li>
                            <li>
                                <div class="score"><span>Good<em>350 Reviews</em></span><strong>7.0</strong></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /item -->
                <div class="item">
                    <div class="box_grid">
                        <figure>
                            <a href="#" class="wish_bt"></a>
                            <a href="/tourDetail"><img src="img/tour_3.jpg" class="img-fluid" alt="" width="800"
                                                       height="533">
                                <div class="read_more"><span>查看更多</span></div>
                            </a>
                            <small>历史</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="/tourDetail">Versailles</a></h3>
                            <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
                            <span class="price">最低 <strong>￥25</strong> / 人</span>
                        </div>
                        <ul>
                            <li><i class="icon_clock_alt"></i> 1h 30min</li>
                            <li>
                                <div class="score"><span>Good<em>350 Reviews</em></span><strong>7.0</strong></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /item -->
                <div class="item">
                    <div class="box_grid">
                        <figure>
                            <a href="#" class="wish_bt"></a>
                            <a href="/tourDetail"><img src="img/tour_4.jpg" class="img-fluid" alt="" width="800"
                                                       height="533">
                                <div class="read_more"><span>查看更多</span></div>
                            </a>
                            <small>博物馆</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="/tourDetail">Pompidue Museum</a></h3>
                            <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
                            <span class="price">最低 <strong>￥45</strong> / 人</span>
                        </div>
                        <ul>
                            <li><i class="icon_clock_alt"></i> 2h 30min</li>
                            <li>
                                <div class="score"><span>Superb<em>350 Reviews</em></span><strong>9.0</strong></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /item -->
                <div class="item">
                    <div class="box_grid">
                        <figure>
                            <a href="#" class="wish_bt"></a>
                            <a href="/tourDetail"><img src="img/tour_5.jpg" class="img-fluid" alt="" width="800"
                                                       height="533">
                                <div class="read_more"><span>查看更多</span></div>
                            </a>
                            <small>徒步游</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="/tourDetail">Tour Eiffel</a></h3>
                            <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
                            <span class="price">最低 <strong>￥65</strong> / 人</span>
                        </div>
                        <ul>
                            <li><i class="icon_clock_alt"></i> 1h 30min</li>
                            <li>
                                <div class="score"><span>Good<em>350 Reviews</em></span><strong>7.5</strong></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /item -->
            </div>
            <!-- /carousel -->
            <div class="container">
                <p class="btn_home_align"><a href="/tourList" class="btn_1 rounded">查看更多旅游线路</a></p>
            </div>
            <!-- /container -->
            <hr class="large">
        </div>
        <!-- /container -->

        <!--城市景点列表-->
        <div class="container-fluid margin_30_95 pl-lg-5 pr-lg-5">
            <!--城市列表-->
            <section class="add_bottom_45">
                <div class="main_title_3">
                    <span><em></em></span>
                    <h2>热门城市</h2>
                    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <a href="/cityDetail" class="grid_item">
                            <figure>
                                <div class="score"><strong>8.9</strong></div>
                                <img src="img/hotel_1.jpg" class="img-fluid" alt="">
                                <div class="info">
                                    <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i
                                            class="icon_star"></i><i class="icon_star"></i></div>
                                    <h3>长沙</h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <!-- /grid_item -->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <a href="/cityDetail" class="grid_item">
                            <figure>
                                <div class="score"><strong>7.9</strong></div>
                                <img src="img/hotel_2.jpg" class="img-fluid" alt="">
                                <div class="info">
                                    <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i
                                            class="icon_star"></i><i class="icon_star"></i></div>
                                    <h3>北京</h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <!-- /grid_item -->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <a href="/cityDetail" class="grid_item">
                            <figure>
                                <div class="score"><strong>7.0</strong></div>
                                <img src="img/hotel_3.jpg" class="img-fluid" alt="">
                                <div class="info">
                                    <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i
                                            class="icon_star"></i><i class="icon_star"></i></div>
                                    <h3>重庆</h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <!-- /grid_item -->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <a href="/cityDetail" class="grid_item">
                            <figure>
                                <div class="score"><strong>8.9</strong></div>
                                <img src="img/hotel_4.jpg" class="img-fluid" alt="">
                                <div class="info">
                                    <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i
                                            class="icon_star"></i><i class="icon_star"></i></div>
                                    <h3>成都</h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <!-- /grid_item -->
                </div>
                <!-- /row -->
                <a href="/cityList"><strong>查看更多 <i class="arrow_carrot-right"></i></strong></a>
            </section>
            <!-- /section -->

            <!--景点列表-->
            <section>
                <div class="main_title_3">
                    <span><em></em></span>
                    <h2>热门景点</h2>
                    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <a href="/viewDetail" class="grid_item">
                            <figure>
                                <div class="score"><strong>8.5</strong></div>
                                <img src="http://b2-q.mafengwo.net/s11/M00/5E/72/wKgBEFsx6MuAV_WGABHEAuTGhzs37.jpeg?imageMogr2%2Fthumbnail%2F%21690x370r%2Fgravity%2FCenter%2Fcrop%2F%21690x370%2Fquality%2F100"
                                     class="img-fluid" alt="">
                                <div class="info">
                                    <h3>岳麓山风景名胜区</h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <!-- /grid_item -->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <a href="/viewDetail" class="grid_item">
                            <figure>
                                <div class="score"><strong>7.9</strong></div>
                                <img src="http://n4-q.mafengwo.net/s1/M00/6F/50/wKgIC1xWmuKAIRc8ABvON1lfBS461.jpeg?imageMogr2%2Fthumbnail%2F%21690x370r%2Fgravity%2FCenter%2Fcrop%2F%21690x370%2Fquality%2F100"
                                     class="img-fluid" alt="">
                                <div class="info">
                                    <h3>故宫</h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <!-- /grid_item -->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <a href="/viewDetail" class="grid_item">
                            <figure>
                                <div class="score"><strong>7.5</strong></div>
                                <img src="http://p2-q.mafengwo.net/s8/M00/AB/51/wKgBpVWShIyAZLSuABHhv3DxJlE21.jpeg?imageMogr2%2Fthumbnail%2F%21690x370r%2Fgravity%2FCenter%2Fcrop%2F%21690x370%2Fquality%2F100"
                                     class="img-fluid" alt="">
                                <div class="info">
                                    <h3>洪崖洞</h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <!-- /grid_item -->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <a href="/viewDetail" class="grid_item">
                            <figure>
                                <div class="score"><strong>9.0</strong></div>
                                <img src="http://p1-q.mafengwo.net/s12/M00/4D/19/wKgED1v9TRKASz4hAA06iNX8sfM17.jpeg?imageMogr2%2Fthumbnail%2F%21690x370r%2Fgravity%2FCenter%2Fcrop%2F%21690x370%2Fquality%2F100"
                                     class="img-fluid" alt="">
                                <div class="info">
                                    <h3>宽窄巷子</h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <!-- /grid_item -->
                </div>
                <!-- /row -->
                <a href="/viewList"><strong>查看更多 <i class="arrow_carrot-right"></i></strong></a>
            </section>
            <!-- /section -->
        </div>
        <!-- /container -->

        <!--游记列表-->
        <div class="bg_color_1">
            <div class="container margin_80_55">
                <div class="main_title_2">
                    <span><em></em></span>
                    <h3>游记攻略</h3>
                    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                </div>
                <div class="row" >
                    <div class="col-lg-6" v-for="travelLog in travelLogs">
                        <a class="box_news" :href="'travelLog/selectTravellogById?id='+travelLog.id">
                            <figure><img :src="travelLog.tlPhoto" alt="">
                            </figure>
                            <ul>
                                <li>{{travelLog.userInfo.userName}}</li>
                                <li>{{travelLog.tlReleaseDate}}</li>
                            </ul>
                            <h4>{{travelLog.tlTitle}}</h4>
                            <p>{{travelLog.tlSummary}}</p>
                        </a>
                    </div>
                    <!--&lt;!&ndash; /box_news &ndash;&gt;-->
                    <!--<div class="col-lg-6">-->
                        <!--<a class="box_news" href="/travelLogDetail">-->
                            <!--<figure><img src="img/news_home_2.jpg" alt="">-->
                            <!--</figure>-->
                            <!--<ul>-->
                                <!--<li>陈敏华</li>-->
                                <!--<li>2019.8.23</li>-->
                            <!--</ul>-->
                            <!--<h4>炎热夏日—长沙游</h4>-->
                            <!--<p>虽说暑假天气炎热，但还是选择了 长沙 这个城市。听过四天三夜的旅行，对这个城市有了初步的了解。</p>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /box_news &ndash;&gt;-->
                    <!--<div class="col-lg-6">-->
                        <!--<a class="box_news" href="/travelLogDetail">-->
                            <!--<figure><img src="img/news_home_3.jpg" alt="">-->
                            <!--</figure>-->
                            <!--<ul>-->
                                <!--<li>余文强</li>-->
                                <!--<li>2019.8.22</li>-->
                            <!--</ul>-->
                            <!--<h4>这一世一定要相遇的西藏之行</h4>-->
                            <!--<p>七月底时候苦苦哀求加入了爸爸的中间旅行团，终于圆了我去 西藏 的一场 “说走就走的旅行”</p>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /box_news &ndash;&gt;-->
                    <!--<div class="col-lg-6">-->
                        <!--<a class="box_news" href="/travelLogDetail">-->
                            <!--<figure><img src="img/news_home_4.jpg" alt="">-->
                            <!--</figure>-->
                            <!--<ul>-->
                                <!--<li>吕友情</li>-->
                                <!--<li>2019.8.21</li>-->
                            <!--</ul>-->
                            <!--<h4>桂林阳朔四天自由行</h4>-->
                            <!--<p>当不知道去哪个地方的时候，跟着孩子的语文课本走是个不错的选择。四下第二课即是 桂林 山水。所以，这一站，毫不犹豫地选择了 桂林 。</p>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!-- /box_news -->
                </div>
                <!-- /row -->
                <p class="btn_home_align"><a href="/travelLogList" class="btn_1 rounded">查看更多游记攻略</a></p>
            </div>
            <!-- /container -->
        </div>
        <!-- /bg_color_1 -->

        <div class="call_section">
            <div class="container clearfix">
                <div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
                    <div class="block-reveal">
                        <div class="block-vertical"></div>
                        <div class="box_1">
                            <h3>和我们一起享受美好的旅行吧</h3>
                            <p>Ius cu tamquam persequeris, eu veniam apeirian platonem qui, id aliquip voluptatibus pri.
                                Ei mea primis
                                ornatus disputationi. Menandri erroribus cu per, duo solet congue ut. </p>
                            <a href="#0" class="btn_1 rounded">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/call_section-->
    </main>
    <!-- /main -->

    <!--导入底部-->
    <div th:replace="userPage/common/footer::footer"></div>
    <!--/footer-->


</div>
<!-- page -->

<!-- 登录表单 -->
<div th:replace="userPage/common/loginForm::loginForm"></div>
<!-- /Sign In Popup -->

<div id="toTop"></div><!-- Back to top button -->

<!-- COMMON SCRIPTS -->
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/js/common_scripts.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/validate.js}"></script>
<script th:src="@{/js/vue.min.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>



<!-- FlexSlider -->
<script defer th:src="@{/js/jquery.flexslider.js}"></script>
<script>
    $(window).load(function () {
        'use strict';
        $('#carousel_slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 280,
            itemMargin: 25,
            asNavFor: '#slider'
        });
        $('#carousel_slider ul.slides li').on('mouseover', function () {
            $(this).trigger('click');
        });
        $('#slider').flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel_slider",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });

    });

</script>
<script defer th:src="@{/js/weather_home.js}"></script>

</body>
<script>
    new Vue({
        el:"#page",
        data:{
            travelLogs:[]
        },
        methods:{
            findTravelLogs:function () {
                var _this = this;
                axios.get('/travelLog/indexTravelLog')
                    .then(function (response) {
                        _this.travelLogs = response.data;
                        console.log(response);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            }
        },
        created:function () {
            this.findTravelLogs();
        },
    });
</script>
</html>
