<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>跟团游详情</title>
    <!-- 网页图标-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <!-- BASE CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/userStyle.css}" rel="stylesheet">
    <link th:href="@{/css/vendors.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/AMap.PlaceSearchRender1120.css"/>
</head>

<body>

<div id="page" class="theia-exception">

    <!-- 导入顶部 -->
    <div th:replace="userPage/common/header::header"></div>
    <!-- /header -->

    <main>
        <section class="hero_in restaurants_detail">
            <div class="wrapper">
                <div class="container">
                    <h1 class="fadeInUp"><span></span>TRAVEL AND TRAVEL</h1>
                </div>
                <span class="magnific-gallery">
					<a th:href="'/'+${tour.tourPhoto}" class="btn_photos" title="Photo title"
                       data-effect="mfp-zoom-in">查看图片</a>
                    <!--<a th:href="@{/img/gallery/restaurant_list_2.jpg}" title="Photo title"-->
                    <!--data-effect="mfp-zoom-in"></a>-->
                    <!--<a th:href="@{/img/gallery/restaurant_list_3.jpg}" title="Photo title"-->
                    <!--data-effect="mfp-zoom-in"></a>-->
				</span>
            </div>
        </section>
        <!--/hero_in-->

        <div class="bg_color_1">
            <nav class="secondary_nav sticky_horizontal">
                <div class="container">
                    <ul class="clearfix">
                        <li><a href="#description" class="active">详情</a></li>
                        <li><a href="#reviews">评论</a></li>
                        <li><a href="#sidebar">预订</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-8">

                        <!--跟团游详情区-->

                        <section id="description">
                            <h2 th:text="${tour.tourName}" style="color: red"></h2>
                            <p th:text="${tour.tourDesc}" style="font-size: 18px"></p>
                            <p>本商品需二次确认，支付完成后商家会在9个工作小时内（工作日9:00-18:00）确认是否预定成功,
                                超时未确认可申请退款，申请后系统自动退款，预计1-7个工作日退还到支付账户,
                                本商品提供出团通知书/确认单，商家最晚在出行日期前1天发送，如未收到请及时与商家联系</p>
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="bullets">
                                        <li>出行前，请您确保您自身的身体状况适合参加行程。您应将自身健康情况如实告知旅行社；</li>
                                        <li>请尊重当地的饮食习惯、习俗禁忌、宗教礼仪，遵守当地法律法规等；</li>
                                        <li>为了您人身、财产的安全，请您避免在公开场合暴露贵重物品及大量现金；</li>
                                        <li>您所预订的商品可能包含高危项目，参与前请根据自身条件，并充分参考当地相关部门及其它专业机构的相关公告和建议后出行；</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /row -->
                            <hr>
                            <h3>地图</h3>
                            <div id="map" class="map map_single add_bottom_30"></div>
                            <!-- End Map -->
                        </section>
                        <!-- /section -->

                        <section id="reviews">
                            <h2>用户点评</h2>
                            <div class="reviews-container">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div id="review_summary">
                                            <strong th:text="${tour.tourScore}">8.5</strong>
                                            <em>人气推荐</em>
                                            <small th:text="'来自'+${tour.tourComment}+'个用户的评价'"></small>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-lg-10 col-9">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 90%"
                                                         aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-3">
                                                <small><strong>10 分</strong></small>
                                            </div>
                                        </div>
                                        <!-- /row -->
                                        <div class="row">
                                            <div class="col-lg-10 col-9">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 95%"
                                                         aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-3">
                                                <small><strong>8~9 分</strong></small>
                                            </div>
                                        </div>
                                        <!-- /row -->
                                        <div class="row">
                                            <div class="col-lg-10 col-9">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 60%"
                                                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-3">
                                                <small><strong>6~7 分</strong></small>
                                            </div>
                                        </div>
                                        <!-- /row -->
                                        <div class="row">
                                            <div class="col-lg-10 col-9">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 20%"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-3">
                                                <small><strong>4~5 分</strong></small>
                                            </div>
                                        </div>
                                        <!-- /row -->
                                        <div class="row">
                                            <div class="col-lg-10 col-9">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 0"
                                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-3">
                                                <small><strong>1~3 分</strong></small>
                                            </div>
                                        </div>
                                        <!-- /row -->
                                    </div>
                                </div>
                                <!-- /row -->
                            </div>

                            <hr>

                            <div class="reviews-container">

                                <div class="review-box clearfix">
                                    <figure class="rev-thumb"><img src="img/avatar1.jpg" alt="">
                                    </figure>
                                    <div class="rev-content">
                                        <div class="rating">
                                            <i class="icon_star voted"></i><i class="icon_star voted"></i><i
                                                class="icon_star voted"></i><i class="icon_star voted"></i><i
                                                class="icon_star"></i>
                                        </div>
                                        <div class="rev-info">
                                            用户4615 – 2019.8.30:
                                        </div>
                                        <div class="rev-text">
                                            <p>
                                                这次的这个行程很满意，特别是导游，很专业，很负责，对我们都很照顾，对我们没一个团员都能顾及到，必须赞一个。这边的风景非常超乎想象，真的有种离天空非常近的感觉，觉得不虚此行
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /review-box -->
                                <div class="review-box clearfix">
                                    <figure class="rev-thumb"><img src="img/avatar2.jpg" alt="">
                                    </figure>
                                    <div class="rev-content">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon_star voted"></i><i
                                                class="icon_star voted"></i><i class="icon_star voted"></i><i
                                                class="icon_star"></i>
                                        </div>
                                        <div class="rev-info">
                                            用户7866 – 2019.8.30:
                                        </div>
                                        <div class="rev-text">
                                            <p>
                                                跟团不好的地方是行程太紧。不过除了不能尽情地慢悠悠晃荡之外，其他的不用你来操心或担心，而且途中导游会为你讲解所游之地的历史文化，民族风情，不然你真的只是去游，且游玩回来后还是啥也不知道，只记得景不错。再者就是餐饮肯定会多多少少不习惯，毕竟我们的饮食跟当地人的不同，只能入乡随俗，所以没什么好埋怨的。而且没有强制购物，只不过会说那些物品的好处与收藏价值，买不买决定权始终在你手上。此次跟团的刘导和小倩导游人都不错，挺幽默，特会安慰那些阿姨和小妹妹。说句实话，性价比真的是很不错，各方面都很满意。
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /review-box -->
                                <div class="review-box clearfix">
                                    <figure class="rev-thumb"><img src="img/avatar3.jpg" alt="">
                                    </figure>
                                    <div class="rev-content">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon_star voted"></i><i
                                                class="icon_star voted"></i><i class="icon_star voted"></i><i
                                                class="icon_star"></i>
                                        </div>
                                        <div class="rev-info">
                                            用户8712 – 2019.8.30:
                                        </div>
                                        <div class="rev-text">
                                            <p>
                                                整个行程安排的还是挺充实的，导游特别靠谱，整个旅行下来，都保持着亲切的笑脸，不管有什么问题都会特别耐心的解决，而且会给我们很多建议，给我们推荐当地特色小吃或者物美价廉的纪念品。短短几天，就让我们了解了很多的当地特色文化，风土习俗，当地的餐吃的美美的，每餐都吃的撑的肚歪。尤其果汁真超好喝，特别新鲜的味道，随处可买，便利店很多，超方便的。
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /review-box -->
                            </div>
                            <!-- /review-container -->
                        </section>
                        <!-- /section -->
                        <hr>

                        <div class="add-review">
                            <h5>留下评论</h5>
                            <form>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>姓名 *</label>
                                        <input type="text" name="name_review" id="name_review" placeholder=""
                                               class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>邮箱 *</label>
                                        <input type="email" name="email_review" id="email_review" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>评分 </label>
                                        <div class="custom-select-form">
                                            <select name="rating_review" id="rating_review" class="wide">
                                                <option value="1">1 (最低)</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5" selected>5 (中等)</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10 (最高)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>你的评论</label>
                                        <textarea name="review_text" id="review_text" class="form-control"
                                                  style="height:130px;"></textarea>
                                    </div>
                                    <div class="form-group col-md-12 add_top_20">
                                        <input type="submit" value="发布评论" class="btn_1" id="submit-review">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /col -->
                    <input type="hidden" id="cityName" th:value="${tour.cityName}">

                    <aside class="col-lg-4" id="sidebar">
                        <form action="/topay" method="post">
                            <div th:if="${session.user != null}">
                                <input type='hidden' name='travellerOneprice' id="travelPrice"
                                       th:value="${tour.tourPrice}"/>
                                <input type='hidden' name='userInfoId' th:value='${session.user.id}'/>
                                <input type='hidden' name='userInfoName' th:value='${session.user.userName}'/>
                                <input type="hidden" name="tour.tourName" th:value="${tour.tourName}">
                            </div>
                            <div class="box_detail booking">
                                <div class="price">
                                    <input type="hidden" id="price" name="tourOrderPrice" th:value="${tour.tourPrice}">
                                    <span id="priceEdit" th:text="${tour.tourPrice}+'元'"><small>/人</small></span>
                                    <div class="score"><span>人气推荐<em
                                            th:text="'阅读量  '+${tour.tourHead}"></em></span><strong>9.0</strong>
                                    </div>
                                </div>

                                <div class="form-group" id="input_date">
                                    <input class="form-control" type="text" name="tourOrderTime" placeholder="When..">
                                    <i class="icon_calendar"></i>
                                </div>

                                <div class="panel-dropdown">
                                    <a href="#">人数 <span class="qtyTotal">1</span></a>
                                    <div class="panel-dropdown-content right">
                                        <div class="qtyButtons">
                                            <label>人数</label>
                                            <input type="text" id="peopleCount" name="peopleCount" value="1">
                                        </div>
                                    </div>
                                </div>

                                <input type="submit" class="add_top_30 btn_1 full-width purchase" value="立即预定"/>
                                <a href="wishlist.html" class="btn_1 full-width outline wishlist"><i
                                        class="icon_heart"></i>
                                    加入收藏</a>
                                <div class="text-center">
                                    <small>预订须知 本商品支付完成即为预订成功</small>
                                </div>
                            </div>
                        </form>
                        <ul class="share-buttons">
                            <li><a class="fb-share" href="#0"><i class="social_facebook"></i> 分享</a></li>
                            <li><a class="twitter-share" href="#0"><i class="social_twitter"></i> 分享</a></li>
                            <li><a class="gplus-share" href="#0"><i class="social_googleplus"></i> 分享</a></li>
                        </ul>
                    </aside>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bg_color_1 -->
    </main>
    <!--/main-->

    <!--导入底部-->
    <div th:replace="userPage/common/footer::footer"></div>
    <!--/footer-->

</div>
<!-- page -->

<!-- Sign In Popup -->
<div th:replace="userPage/common/loginForm::loginForm"></div>
<!-- /Sign In Popup  -->

<div id="toTop"></div><!-- 回到顶部 -->

<!-- COMMON SCRIPTS -->
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/js/common_scripts.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/validate.js}"></script>

<!-- DATEPICKER 时间选择器 -->
<script>
    $('input[name="tourOrderTime"]').daterangepicker({
        "singleDatePicker": true,
        "autoApply": true,
        parentEl: '#input_date',
        "linkedCalendars": false,
        "showCustomRangeLabel": false
    }, function (start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
    });
</script>

<!-- INPUT QUANTITY  -->
<script th:src="@{/js/input_qty.js}"></script>

<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.15&key=f6dd1aad71d0b9691e66ff98044ef517&plugin=AMap.PlaceSearch"></script>
<script type="text/javascript" src="https://cache.amap.com/lbs/static/PlaceSearchRender.js"></script>
<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>

<script type="text/javascript">
    var cityName = $("#cityName").val();
    var map = new AMap.Map("map", {
        resizeEnable: true
    });
    var placeSearch = new AMap.PlaceSearch({
        // city 指定搜索所在城市，支持传入格式有：城市名、citycode和adcode
        city: cityName
    })

    placeSearch.search(cityName, function (status, result) {
        // 查询成功时，result即对应匹配的POI信息
        console.log(result)
        var pois = result.poiList.pois;
        for (var i = 0; i < pois.length; i++) {
            var poi = pois[i];
            var marker = [];
            marker[i] = new AMap.Marker({
                position: poi.location,   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
                title: poi.name
            });
            // 将创建的点标记添加到已有的地图实例：
            map.add(marker[i]);
        }
        map.setFitView();

    })

</script>


</body>
</html>