<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <title>游记攻略</title>

    <!-- 网页图标-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <!-- BASE CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/userStyle.css}" rel="stylesheet">
    <link th:href="@{/css/vendors.css}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link th:href="@{/css/travel-log.css}" rel="stylesheet">
</head>

<body>

<div id="page">

    <!-- 导入顶部 -->
    <div th:replace="userPage/common/header::header"></div>
    <!-- /header -->

    <main>
        <section class="hero_in general">
            <div class="wrapper">
                <div class="container">
                    <h1 class="fadeInUp"><span></span>游记攻略</h1>
                </div>
            </div>
        </section>
        <!--/hero_in-->

        <div class="filters_listing sticky_horizontal">
            <div class="container">
                <ul class="clearfix">
                    <li>
                        <div class="switch-field">
                            <input type="radio" id="popular" name="listing_filter" value="popular" checked>
                            <label for="popular">热门游记</label>
                            <input type="radio" id="latest" name="listing_filter" value="latest">
                            <label for="latest">最新发布</label>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /container -->
        </div>

        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-9">

                    <!--游记循环列表-->
                    <article class="blog wow fadeIn" v-for="travelLog in travelLogs">
                        <div class="row no-gutters">
                            <div class="col-lg-7">
                                <figure>
                                    <a :href="'travelLog/selectTravellogById?id='+travelLog.id"><img
                                            :src="travelLog.tlPhoto" alt="">
                                        <div class="preview"><span>查看更多</span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-5">
                                <div class="post_info">
                                    <small>{{travelLog.tlReleaseDate}}</small>
                                    <h3><a :href="'travelLog/selectTravellogById?id='+travelLog.id">{{travelLog.tlTitle}}</a>
                                    </h3>
                                    <p>{{travelLog.tlSummary}}</p>
                                    <ul>
                                        <li>
                                            <div class="thumb"><img src="img/thumb_blog.jpg" alt=""></div>
                                            {{travelLog.userInfo.userName}}
                                        </li>
                                        <li><i class="icon_comment_alt"></i> 20</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--/游记循环列表-->

                    <!--分页-->
                    <div class="row">
                        <div class="offset-lg-4 col-lg-6">
                            <nav aria-label="...">
                                <ul class="pagination pagination-sm">
                                    <li :class="{ disabled: !pageInfo.hasPreviousPage }">
                                        <a class="page-link" @click="jump('pre')">上一页</a>
                                    </li>
                                    <li :class="{ disabled:pageInfo.pageNum==i }"
                                        v-for="i in pageInfo.navigatepageNums">
                                        <a href="#top" class="page-link" @click="jumpByNumber(i)">{{i}}</a>
                                    </li>
                                    <li :class="{ disabled: !pageInfo.hasNextPage }">
                                        <a class="page-link" @click="jump('next')">下一页</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- /分页 -->

                </div>
                <!-- /col -->

                <!--其他页面传过来的搜索内容-->
                <input id="searchTravelLog" type="hidden" th:value="${search}">
                <!--添加锚点,实现分页时回顶部-->
                <a name="top"></a>
                <!--右侧-->
                <aside class="col-lg-3">

                    <!--右侧搜索-->
                    <div class="widget">
                        <form action="/travelLogList" method="get">
                            <div class="form-group">
                                <input type="text" name="search" id="search" class="form-control"
                                       placeholder="搜索游记攻略...">
                            </div>
                            <button type="submit" id="submit" class="btn_1 rounded"> 搜索</button>
                        </form>
                    </div>
                    <!-- /右侧搜索 -->

                    <!--右侧推荐-->
                    <div class="widget">
                        <div class="widget-title">
                            <h4>游记攻略推荐</h4>
                        </div>
                        <ul class="comments-list" v-for="hotLog in HotTravelLogs">

                            <li>

                                <div class="alignleft">
                                    <a :href="'travelLog/selectTravellogById?id='+hotLog.id"><img :src="hotLog.tlPhoto" alt=""></a>
                                </div>
                                <small>{{hotLog.tlReleaseDate}}</small>
                                <h3><a :href="'travelLog/selectTravellogById?id='+hotLog.id" title="">{{hotLog.tlTitle}}</a></h3>

                            </li>
                        </ul>
                    </div>
                    <!-- /右侧推荐 -->

                    <!--右侧标签-->
                    <div class="widget">
                        <div class="widget-title">
                            <h4>热门标签</h4>
                        </div>
                        <div class="tags">
                            <a href="/travelLogList">杭州</a>
                            <a href="/travelLogList">摄影</a>
                            <a href="/travelLogList">网红餐厅</a>
                            <a href="/travelLogList">海滩</a>
                            <a href="/travelLogList">美食</a>
                            <a href="/travelLogList">民宿</a>
                        </div>
                    </div>
                    <!-- /右侧标签 -->
                </aside>
                <!-- /右侧 -->

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>
    <!--/main-->

    <!--导入底部-->
    <div th:replace="userPage/common/footer::footer"></div>
    <!--/footer-->
</div>
<!-- page -->

<!-- 登录表单 -->
<div th:replace="userPage/common/loginForm::loginForm"></div>
<!-- /Sign In Popup -->

<div id="toTop"></div><!-- Back to top button -->

<!-- COMMON SCRIPTS -->
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/js/common_scripts.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/validate.js}"></script>
<script th:src="@{/js/vue.min.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>

</body>
<script>
    new Vue({
        el:"#page",
        data:{
            travelLogs:[],
            HotTravelLogs:[],
            pageInfo:{}

        },
        methods: {
            findAll: function (start) {
                var _this = this;
                var searchTravelLog = $("#searchTravelLog").val();
                console.log(searchTravelLog);
                axios.get('/travelLog/selectTravelLogLikeTitle', {
                    params: {
                        start: start,
                        search: searchTravelLog
                    }
                })
                    .then(function (response) {
                        _this.travelLogs = response.data.list;
                        _this.pageInfo = response.data;
                        console.log(response);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            },
            jump: function (page) {//跳转上一页,下一页
                if ('pre' == page && this.pageInfo.hasPreviousPage)
                    this.findAll(this.pageInfo.prePage);

                else if ('next' == page && this.pageInfo.hasNextPage)
                    this.findAll(this.pageInfo.nextPage);
            },
            jumpByNumber: function (start) {//跳转到指定页面
                if (start != this.pageInfo.pageNum)
                    this.findAll(start);
            },
            findHot:function () {
                var _this = this;
                axios.get('/travelLog/HotTravelLog')
                    .then(function (response) {
                        _this.HotTravelLogs = response.data;
                        console.log(response);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            }
        },
        created: function () {
            this.findAll(1);
            this.findHot();
        }
    });

    <!-- 返回顶部-->

    $(function(){

        <!-- 返回顶部开始 -->

        $(window).scroll(function(){

            if($(window).scrollTop() >= 200){

                $('.page-link').fadeIn(1500); //1000指时间，淡入效果来显示

            }else{

                $('.page-link').fadeOut(1500);//1000指时间，淡入效果来隐藏

            }

        });

        $('.page-link').click(function(){

            $('html,body').animate({scrollTop: '400px'});//800滑动的速度

        });

        <!-- 返回顶部结束 -->

    })
</script>
</html>