<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>游记攻略</title>

    <!-- 网页图标-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <!-- BASE CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/userStyle.css}" rel="stylesheet">
    <link th:href="@{/css/vendors.css}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link th:href="@{/css/travel-log.css}" rel="stylesheet">
</head>

<body>

<div id="page">

    <!-- 导入顶部 -->
    <div th:replace="userPage/common/header::header"></div>
    <!-- /header -->

    <main>
        <section class="hero_in general">
            <div class="wrapper">
                <div class="container">
                    <h1 class="fadeInUp"><span></span>游记攻略</h1>
                </div>
            </div>
        </section>
        <!--/hero_in-->

        <div class="filters_listing sticky_horizontal">
            <div class="container">
                <ul class="clearfix">
                    <li>
                        <div class="switch-field">
                            <input type="radio" id="popular" name="listing_filter" value="popular" checked>
                            <label for="popular">热门游记</label>
                            <input type="radio" id="latest" name="listing_filter" value="latest">
                            <label for="latest">最新发布</label>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /container -->
        </div>

        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-9">
                    <article class="blog wow fadeIn">
                        <div class="row no-gutters">
                            <div class="col-lg-7">
                                <figure>
                                    <a href="/travelLogDetail"><img src="img/blog-1.jpg" alt="">
                                        <div class="preview"><span>查看更多</span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-5">
                                <div class="post_info">
                                    <small>2019.8.24</small>
                                    <h3><a href="/travelLogDetail">【杭州】江南忆最忆是杭州&不止西湖春夏秋冬&小众打卡攻略</a></h3>
                                    <p>这可能是你见过最全的 杭州 游记攻略了。这是大学这几年在杭州走过地方的感悟，其实还有很多包括酒吧打卡等还是没写到。</p>
                                    <ul>
                                        <li>
                                            <div class="thumb"><img src="img/thumb_blog.jpg" alt=""></div>
                                            蒋良志
                                        </li>
                                        <li><i class="icon_comment_alt"></i> 20</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- /article -->

                    <article class="blog wow fadeIn">
                        <div class="row no-gutters">
                            <div class="col-lg-7">
                                <figure>
                                    <a href="/travelLogDetail"><img src="img/blog-2.jpg" alt="">
                                        <div class="preview"><span>查看更多</span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-5">
                                <div class="post_info">
                                    <small>2019.8.23</small>
                                    <h3><a href="/travelLogDetail">炎热夏日—长沙游</a></h3>
                                    <p>虽说暑假天气炎热，但还是选择了 长沙 这个城市。听过四天三夜的旅行，对这个城市有了初步的了解。</p>
                                    <ul>
                                        <li>
                                            <div class="thumb"><img src="img/thumb_blog.jpg" alt=""></div>
                                            陈敏华
                                        </li>
                                        <li><i class="icon_comment_alt"></i> 20</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- /article -->

                    <article class="blog wow fadeIn">
                        <div class="row no-gutters">
                            <div class="col-lg-7">
                                <figure>
                                    <a href="/travelLogDetail"><img src="img/blog-3.jpg" alt="">
                                        <div class="preview"><span>查看更多</span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-5">
                                <div class="post_info">
                                    <small>2019.8.22</small>
                                    <h3><a href="/travelLogDetail">这一世一定要相遇的西藏之行</a></h3>
                                    <p>七月底时候苦苦哀求加入了爸爸的中间旅行团，终于圆了我去 西藏 的一场 “说走就走的旅行”</p>
                                    <ul>
                                        <li>
                                            <div class="thumb"><img src="img/thumb_blog.jpg" alt=""></div>
                                            余文强
                                        </li>
                                        <li><i class="icon_comment_alt"></i> 20</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- /article -->

                    <article class="blog wow fadeIn">
                        <div class="row no-gutters">
                            <div class="col-lg-7">
                                <figure>
                                    <a href="/travelLogDetail"><img src="img/blog-4.jpg" alt="">
                                        <div class="preview"><span>查看更多</span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-5">
                                <div class="post_info">
                                    <small>2019.8.21</small>
                                    <h3><a href="/travelLogDetail">桂林阳朔四天自由行</a></h3>
                                    <p>当不知道去哪个地方的时候，跟着孩子的语文课本走是个不错的选择。四下第二课即是 桂林 山水。所以，这一站，毫不犹豫地选择了 桂林 。</p>
                                    <ul>
                                        <li>
                                            <div class="thumb"><img src="img/thumb_blog.jpg" alt=""></div>
                                            吕友情
                                        </li>
                                        <li><i class="icon_comment_alt"></i> 20</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- /article -->

                    <nav aria-label="...">
                        <ul class="pagination pagination-sm">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">上一页</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">下一页</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /pagination -->
                </div>
                <!-- /col -->

                <aside class="col-lg-3">
                    <div class="widget">
                        <form>
                            <div class="form-group">
                                <input type="text" name="search" id="search" class="form-control"
                                       placeholder="搜索游记攻略...">
                            </div>
                            <button type="submit" id="submit" class="btn_1 rounded"> 搜索</button>
                        </form>
                    </div>
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-title">
                            <h4>游记攻略推荐</h4>
                        </div>
                        <ul class="comments-list">
                            <li>
                                <div class="alignleft">
                                    <a href="/travelLogDetail"><img src="img/blog-5.jpg" alt=""></a>
                                </div>
                                <small>2019.8.24</small>
                                <h3><a href="/travelLogDetail" title="">【杭州】江南忆最忆是杭州&不止西湖春夏秋冬&小众打卡攻略...</a></h3>
                            </li>
                            <li>
                                <div class="alignleft">
                                    <a href="/travelLogDetail"><img src="img/blog-6.jpg" alt=""></a>
                                </div>
                                <small>2019.8.23</small>
                                <h3><a href="/travelLogDetail" title="">炎热夏日—长沙游</a></h3>
                            </li>
                            <li>
                                <div class="alignleft">
                                    <a href="/travelLogDetail"><img src="img/blog-4.jpg" alt=""></a>
                                </div>
                                <small>2019.8.22</small>
                                <h3><a href="/travelLogDetail" title="">这一世一定要相遇的西藏之行</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!-- /widget -->

                    <div class="widget">
                        <div class="widget-title">
                            <h4>热门标签</h4>
                        </div>
                        <div class="tags">
                            <a href="/travelLogList">杭州</a>
                            <a href="/travelLogList">摄影</a>
                            <a href="/travelLogList">网红餐厅</a>
                            <a href="/travelLogList">海滩</a>
                            <a href="/travelLogList">美食</a>
                            <a href="/travelLogList">民宿</a>
                        </div>
                    </div>
                    <!-- /widget -->
                </aside>
                <!-- /aside -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>
    <!--/main-->

    <!--导入底部-->
    <div th:replace="userPage/common/footer::footer"></div>
    <!--/footer-->
</div>
<!-- page -->

<!-- 登录表单 -->
<div th:replace="userPage/common/loginForm::loginForm"></div>
<!-- /Sign In Popup -->

<div id="toTop"></div><!-- Back to top button -->

<!-- COMMON SCRIPTS -->
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/js/common_scripts.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/validate.js}"></script>


</body>
</html>