<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>景点详情</title>

    <!-- 网页图标-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <!-- BASE CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/userStyle.css}" rel="stylesheet">
    <link th:href="@{/css/vendors.css}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link th:href="@{/css/travel-log.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/AMap.PlaceSearchRender1120.css"/>
</head>

<body>

<div id="page">

    <!-- 导入顶部 -->
    <div th:replace="userPage/common/header::header"></div>
    <!-- /header -->

    <main>
        <section class="hero_in general">
            <div class="wrapper">
                <div class="container">
                    <h1 class="fadeInUp"><span></span>景点详情</h1>
                </div>
            </div>
        </section>
        <!--/hero_in-->

        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-9">
                    <!--景点详情区-->
                    <section id="description">
                        <h2><img alt="" class="img-fluid" th:src="${view.viewImage}"></h2>
                        <p th:text="${view.viewIntroduce}"></p>

                        <hr>
                        <h3>地图</h3>
                        <div id="map" class="map map_single add_bottom_30"></div>
                        <!-- End Map -->
                    </section>
                    <!-- /section -->
                </div>
                <!-- /col -->

                <input type="hidden" id="cityName" th:value="${view.city.cityName}">
                <input type="hidden" id="viewName" th:value="${view.viewName}">


                <!--右侧列表区-->
                <aside class="col-lg-3">
                    <div class="widget">
                        <form action="/viewList" method="get">
                            <div class="form-group">
                                <input type="text" name="search" id="search" class="form-control"
                                       placeholder="搜索景点...">
                            </div>
                            <button type="submit" id="submit" class="btn_1 rounded"> 搜索</button>
                        </form>
                    </div>
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-title">
                            <h4>相关景点</h4>
                        </div>
                        <ul class="comments-list">
                            <li>
                                <div class="alignleft">
                                    <a href="/viewDetail"><img src="img/blog-5.jpg" alt=""></a>
                                </div>
                                <h3><a href="/viewDetail" title="">岳麓山风景名胜区</a></h3>
                            </li>
                            <li>
                                <div class="alignleft">
                                    <a href="/viewDetail"><img src="img/blog-6.jpg" alt=""></a>
                                </div>
                                <h3><a href="/viewDetail" title="">故宫</a></h3>
                            </li>
                            <li>
                                <div class="alignleft">
                                    <a href="/viewDetail"><img src="img/blog-4.jpg" alt=""></a>
                                </div>
                                <h3><a href="/viewDetail" title="">洪崖洞</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!-- /widget -->
                </aside>
                <!-- /aside -->
            </div>
        </div>
        <!-- /container -->
    </main>
    <!--/main-->

    <!--导入底部-->
    <div th:replace="userPage/common/footer::footer"></div>
    <!--/footer-->
</div>
<!-- page -->

<!-- 登录表单 -->
<div th:replace="userPage/common/loginForm::loginForm"></div>
<!-- /Sign In Popup -->

<div id="toTop"></div><!-- Back to top button -->

<!-- COMMON SCRIPTS -->
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/js/common_scripts.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/validate.js}"></script>

<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.15&key=f6dd1aad71d0b9691e66ff98044ef517&plugin=AMap.PlaceSearch"></script>
<script type="text/javascript" src="https://cache.amap.com/lbs/static/PlaceSearchRender.js"></script>
<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>


<script type="text/javascript">
    var cityName = $("#cityName").val();
    var viewName = $("#viewName").val();

    var map = new AMap.Map("map", {
        resizeEnable: true
    });
    var placeSearch = new AMap.PlaceSearch({
        // city 指定搜索所在城市，支持传入格式有：城市名、citycode和adcode
        city: cityName
    })

    placeSearch.search(viewName, function (status, result) {
        // 查询成功时，result即对应匹配的POI信息
        console.log(result)
        var pois = result.poiList.pois;
        for (var i = 0; i < pois.length; i++) {
            var poi = pois[i];
            var marker = [];
            marker[i] = new AMap.Marker({
                position: poi.location,   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
                title: poi.name
            });
            // 将创建的点标记添加到已有的地图实例：
            map.add(marker[i]);
        }
        map.setFitView();

    })

</script>


</body>
</html>
