<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.travel.mapper.AccountMapper">
    <resultMap id="selectAccountAndUser" type="com.hm.travel.pojo.Account">
        <id column="id" property="id" />
        <result column="account_number" property="accountNumber" />
        <result column="password" property="password" />
        <association property="userInfo" javaType="com.hm.travel.pojo.UserInfo">
            <result column="id" property="id" />
            <result column="user_name" property="userName" />
            <result column="user_sex" property="userSex" />
            <result column="user_age" property="userAge" />
            <result column="user_email" property="userEmail" />
            <result column="user_image_name" property="userImageName" />
            <result column="user_phone_num" property="userPhoneNum" />
            <result column="user_nick_name" property="userNickName" />
        </association>
    </resultMap>
    <select id="selectAccount" resultMap="selectAccountAndUser">
        select * from account where account_number = #{accountNumber} and password = #{password}
    </select>

    <resultMap id="selectAccount" type="com.hm.travel.pojo.Account">
        <id column="id" property="id" />
        <result column="account_number" property="accountNumber" />
        <result column="password" property="password" />
        <association property="userInfo" javaType="com.hm.travel.pojo.UserInfo">
            <result column="id" property="id" />
            <result column="user_name" property="userName" />
            <result column="user_sex" property="userSex" />
            <result column="user_age" property="userAge" />
            <result column="user_email" property="userEmail" />
            <result column="user_image_name" property="userImageName" />
            <result column="user_phone_num" property="userPhoneNum" />
            <result column="user_nick_name" property="userNickName" />
        </association>
    </resultMap>
    <select id="selectAccountById" resultMap="selectAccount">
        select * from account where id = #{id}
    </select>

    <update id="improveAccount" parameterType="com.hm.travel.pojo.Account">
        update account set userInfo_id = #{userInfo.id}
    </update>
</mapper>