<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.travel.mapper.HotleMapper">

    <resultMap id="hotles" type="com.hm.travel.pojo.Hotle">
            <id column="id" property="id" />
            <result column="hotle_Name" property="hotleName" />
            <result column="hotle_Photo" property="hotlePhoto" />
            <result column="hotle_Grade" property="hotleGrade" />
            <result column="hotle_Start" property="hotleStart" />
            <result column="hotle_Info" property="hotleInfo" />
        <association property="city" javaType="com.hm.travel.pojo.City">
            <result column="id" property="id" />
            <result column="city_Name" property="cityName" />
            <result column="city_Introduce" property="cityIntroduce" />
            <result column="city_Photo" property="cityPhoto" />
        </association>
        <association property="hotleRoom" javaType="com.hm.travel.pojo.HotleRoom">
            <result column="id" property="id" />
            <result column="sigle_Room" property="sigleRoom" />
            <result column="double_Room" property="doubleRoom" />
            <result column="business_Room" property="businessRoom" />
            <result column="couple_Room" property="coupleRoom" />
            <result column="sigle_Room_Price" property="sigleRoomPrice" />
            <result column="double_Room_Price" property="doubleRoomPrice" />
            <result column="business_Room_Price" property="businessRoomPrice" />
            <result column="couple_Room_Price" property="coupleRoomPrice" />
        </association>
    </resultMap>
    <select id="getAllHotle" resultMap="hotles">
        select * from hotle
    </select>

    <select id="selectHotleByLikeName" resultMap="hotles">
        select * from hotle where hotle_name like '%#{hotleName}%'
    </select>

    <select id="selectHotleById" resultMap="hotles">
        select * from hotle where id = #{id}
    </select>

    <update id="updateHotle" parameterType="com.hm.travel.pojo.Hotle">
        update hotle
              <set>
                  <if test="hotleName !=null and hotleName != &quot;&quot;">
                      hotle_Name = #{hotleName}
                  </if>
                  <if test="hotlePhoto !=null and hotlePhoto != &quot;&quot;">
                      hotle_Photo = #{hotlePhoto}
                  </if>
                  <if test="hotleStart !=null and hotleStart != &quot;&quot;">
                      hotle_Start = #{hotleStart}
                  </if>
                  <if test="hotleInfo !=null and hotleInfo != &quot;&quot;">
                      hotle_Info = #{hotleInfo}
                  </if>
              </set>
        where id = #{id}
    </update>
</mapper>