<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.travel.mapper.TourOrderMapper">

    <resultMap id="MyTourOrder" type="com.hm.travel.pojo.TourOrder">
        <id column="id" property="id"/>
        <result column="tour_Order_Num" property="tourOrderNum"/>
        <result column="tour_Order_Time" property="tourOrderTime"/>
        <result column="people_Count" property="peopleCount"/>
        <result column="tour_Order_Status" property="tourOrderStatus"/>
        <result column="tour_Order_Price" property="tourOrderPrice"/>
        <association property="tour" javaType="com.hm.travel.pojo.Tour">
            <id column="id" property="id"/>
            <result column="tour_Name" property="tourName"/>
            <result column="city_Name" property="cityName"/>
        </association>
        <association property="userInfo" javaType="com.hm.travel.pojo.UserInfo">
            <result column="id" property="id"/>
            <result column="user_Name" property="userName"/>
        </association>
    </resultMap>

    <!--<update id="updateTourOrder" parameterType="com.hm.travel.pojo.TourOrder">-->
    <!--update tourOrder-->
    <!--<set>-->

    <!--<if test="tourOrderName !=null and tourOrderName != &quot;&quot;">-->
    <!--,tour_Order_Name = #{tourOrderName}-->
    <!--</if>-->
    <!--<if test="tour_Order_Price !=null and tourOrderPrice != &quot;&quot;">-->
    <!--,tour_Order_Price = #{tourOrderPrice}-->
    <!--</if>-->
    <!--<if test="tourStatus !=null">-->
    <!--,tour_Order_Status = #{tourOrderStatus}-->
    <!--</if>-->
    <!--</set>-->
    <!--where id = #{id}-->
    <!--</update>-->

    <insert id="addTourOrder" parameterType="com.hm.travel.pojo.TourOrder">
        insert into tourOrder (tour_Order_Num,tour_Order_Time,people_Count,tour_Order_Status,tour_Id,userInfo_Id,userInfo_Name,tour_Order_Price)
        values (#{tourOrderNum}, #{tourOrderTime}, #{peopleCount}, #{tourOrderStatus}, #{tour.id}, #{userInfo.id}, #{userInfo.userName},#{tourOrderPrice})
    </insert>

    <select id="selectTourOrderById" resultMap="MyTourOrder">
        SELECT * from tourOrder,tour,userInfo WHERE tourOrder.id = #{id} and tour_id = tour.id and userInfo_id = userInfo.id
    </select>

    <select id="findAll" resultMap="MyTourOrder">
        SELECT * from tourOrder,tour,userInfo WHERE tour_id = tour.id and userInfo_id = userInfo.id
    </select>


</mapper>